body
{
	float: center;
	color: white;
	background: url("sarah1.jpg") fixed repeat;
	background-position: 25% 30%;
  	width:50%;
	height:300px;
	
	
}
}
mark
{
	color: white;
	width: 250px;
	height: 200px;
}
h1
{	text-shadow: 2px 2px 4px black;
	text-align: center;
}
	
p1
{
	text-shadow: 4px 4px 4px black;
	text-align: left;
}
.signature

{

    text-align: center;

}
